<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="Suite" parallel="tests">
    <test name="DefaultTestChrome" parallel="methods" thread-count="1">
        <parameter name="platform" value="Windows"/>
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="Test.FirtsTest">
                <methods>
                    <include name="FirtsTestES"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
