<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="Suite" parallel="tests">
    <test name="DefaultTestChrome" parallel="classes" thread-count="1">
        <parameter name="platform" value="Windows"/>
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="Test.FirtsTest">
            </class>
            <class name="Test.FirtsTest2">
            </class>

        </classes>
    </test>
</suite>
